.basic-content-section {
    &.category {
        display       : flex;
        flex-flow     : column nowrap;
        align-items   : center;
        padding-bottom: 60px;

        h1 {
            margin-bottom: 40px;
        }

        .posts-container {
            max-width: 760px;

            .post {
                width: 100%;

                h2 {
                    text-decoration: underline;
                }

                &:hover {
                    h2 {
                        text-decoration: none;
                    }
                }

                video,
                iframe,
                figure {
                    /* don't attempt to display videos in post previews */
                    display: none;
                }
            }

            @include media($tablet) {
                margin        : 0 30px 20px;
                padding-bottom: 0;
                padding-top   : 90px;
            }
        }
    }
}