.product-section {
        display:flex;
        flex-direction:column;
        background:$white!important;
        padding-top:6em;
        z-index:-2;
        @include media($mobile) {
                z-index:0;
        }          
        @include media($tablet) {
                padding-top:4em;
        }        
        h1 {
              font-family:$font-family-medium;
              font-size: 60px;
              font-weight:500;
              color: $black;
              line-height:1.07;
              text-align:center;
              align-self: center;
              max-width:730px;
              margin-bottom:1em;
              @include media($tablet) {
                      font-size:34px;
                      line-height:1.12;
                      width:80%;
              }
        }
        figure {
                display:flex;
                position:relative;
                width:100%;
                align-self: center;
                align-items: center;
                justify-content: center;
                @include media($mobile) {
                        flex-direction:column;
                }                
                img {
                        max-width: 555px;
                        width:50%;
                        height: auto;
                        padding:0.75em;
                        @include media($mobile) {
                                width:90%;
                        }
                }
                figcaption {
                        max-width: 475px;
                        margin-left:40px;
                        @include media($tablet) {
                                margin-left:0;
                        }
                        @include media($mobile) {
                                max-width: 343px;                                
                        }                        
                        h2 {
                                font-family: $font-family-medium;
                                font-size:32px;
                                font-weight:500;
                                color:black;
                                margin-bottom:8px;
                                @include media($tablet) {
                                        font-size:22px;
                                        text-align:center;
                                        line-height:1.18;
                                        padding-top:2em;
                                }
                        }
                        p {
                                font-family: $font-family-regular;
                                font-size:20px;
                                line-height:1.5;
                                opacity:0.75;
                                max-width:475px;
                                @include media($desktop) {
                                        margin-right:20px;
                                }
                                @include media($tablet) {
                                        font-size:16px;
                                        text-align:center;
                                        line-height:1.63;
                                        padding: 0 2.25em;
                                } 
                                @include media($mobile) {
                                        padding:0;
                                        max-width:327px;                                        
                                }                               
                        }
                }
                svg {
                        position: absolute;
                        z-index: -1;
                        left:0;
                        top:0;
                        // bottom: -2.5em;
                        width: calc(50% + 18px);
                        transform: scaleY(0.9);    
                        @include media($mobile) {
                                left: 0;
                                top: 18%;
                                width:100%;
                                bottom:unset;
                                transform:unset;                               
                        }              
                }
        }
}
.product-section--bottom-pad {
        padding-bottom:3em;
        @include media($mobile) {
                padding-bottom:0.5em;
        }
}
.product-section__cta {
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-transform: uppercase;
        align-self: center;   
        height:43px;
        min-width:153px;   
        margin-bottom:5em;  
        font-family: $font-family-regular;          
        font-size:16px;
        font-weight:bold;
        color:$gold;
        text-align: center;
        padding:0.75em;
        border: solid 2px $gold;
        border-radius: 21.5px;
        transform: scale(1);
        transition: padding 0.2s ease-in-out;
        &:hover {
                transform: scale(1.05);
                transition: transform 0.2s ease-in-out;
        }
}

.product-section__left-align {
        @extend .product-section;
        padding-top:0;
        z-index:-10;
        @include media($mobile) {
        }
        h1 {
                padding:1em 0;
        }
        figure {
                figcaption {
                        margin-right:40px;
                }   
                margin-bottom:6em;     
                > svg {
                        position: absolute;
                        z-index: -1;
                        left: 50%;
                        bottom: -4em;
                        width: 50%;
                }       
                @include media($tablet) {
                        > svg {
                                display:none;
                        }
                }
                @include media($mobile) {
                        flex-direction: column-reverse;
                        margin-bottom:2em;  
                        img {
                                padding-top:0;
                        }   
                        figcaption {
                                h2 {
                                        padding-top:1.5em;
                                }
                                margin-right: 0;
                        }
                        > svg {
                                display:block;
                                position: absolute;
                                z-index: -1;
                                left: 0.5em;
                                top: -0.5em;
                                width: calc(100% - .5em);                                
                        }
                }
        }               
} 

.product-section__logo-wquote {
        max-width:475px;
        .product-section__logo {
                width:98px;
                height:auto;
                margin-bottom:24px;
        }
        p {
                font-size:30px;
                margin-bottom:16px;
                line-height:1.5;
        }
        blockquote {
                font-family:$font-family-medium;
                font-size:24px;
                font-weight:500;
        }
        .product-section__quote-author {
                opacity:0.75;
                font-family: $font-family-book;
                font-size:16px;
        }
        .product-section__cta--secondary {
                display:block;
                font-family: $font-family-medium;
                font-size:20px;
                font-weight:500;
                opacity:0.75;
                color:$gold;
                margin-top:24px;
        }
        @include media($tablet) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 1em 0.125em;           
                padding-top:4em;

                blockquote {
                        font-size:22px;
                        line-height: 1.16;
                        padding: 0 2.25em;
                        text-align: center;
                }
                .product-section__quote-author {
                        margin-top:0.5em;
                        opacity:0.5;
                }
        }
}

.item-list-section {
        display:flex;
        flex-direction:column;
        background:$lightgrey;
        padding-top:6em;
        padding-bottom:6em;  
        margin-top:1em;
        margin-bottom:1em;       
        h1 {
                font-family:$font-family-medium;
                font-weight:500;
                font-size:32px;
                text-align:center;
                align-self: center;  
                line-height:normal;
                margin-bottom:60px;              
        }

        .client-section__client-list {
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items:center;
                padding:0 5em;
                > img {
                        margin: 1em 1em;
                }                
        }
        @include media($tablet) {
                padding-top:3em;
                padding-bottom:3em;    
                h1 {
                        padding: 0 3em;
                        font-size:22px;
                        line-height:1.18;
                        margin-bottom: 1em;                             
                }
                .client-section__client-list {
                        flex-wrap:wrap;
                        padding: 0em 2em;                       
                        > img {
                                transform: scale(.75);
                                margin: .75em 0;
                        }
                }
        }
}

.client-section, .platform-section {
        @extend .item-list-section;
        &-invert {
                background:$black;
                h1 {
                        color:$white;
                }
        }
}

.platform-section--invert {
        @extend .item-list-section;
        background:$white!important;
        h1 {
                color:$black;
        }
}

.product-features {
        display:flex;
        width:100%;
        flex-direction:column;
        align-items:center;
        background: $lightgrey;
        h1 {
                font-family: $font-family-medium;
                font-size:60px;
                font-weight:500;
                line-height: 1.07;
                text-align:center;
                margin-top:1em;
        }       
        h2 {
                font-family: $font-family-regular;
                font-size:32px;
                font-weight:normal;
                opacity:0.4;
                text-align:center;
                margin-top:4px;
                margin-bottom:2em;     
                max-width:730px;
        }
        .product-features__row {
                display:flex;
                flex-direction: row;
                flex-wrap:wrap;
                justify-content: space-around;
                margin-left:135px;
                margin-bottom:2em;
                figure {
                        margin-right:60px;
                        max-width:320px;
                }
                .product-features__image-container {
                        height:90px;
                        margin-bottom:1.5em;
                }                
                img {
                        padding-bottom:24px;
                }
                h3 {
                        font-family: $font-family-regular;
                        font-weight:bold;
                        font-size:24px;
                        max-width:175px;
                        margin-bottom:0.25em;
                }
                p {
                        font-size:20px;
                        line-height: 1.5;
                        margin-bottom:4em;
                }
        }
        @include media($tablet) {
                padding-top:2em;
                flex-direction:column;
                align-items:center;
                text-align:center;                
                h1 {
                        font-size:34px;
                        line-height:1.12;
                }
                h2 {
                        font-size:22px;
                        line-height:1.18;
                        padding: 0.25em 2.25em;
                }
                
                .product-features__row {
                        flex-direction:column;
                        align-items:center;
                        text-align:center;
                        margin-left:0;
                        margin-bottom: 2em;                       
                        .product-features__image-container {
                                margin-bottom:0.25em;
                        }                         
                        figure {
                                margin-right:0;
                                max-width:100%;
                        }
                        img {
                                padding-bottom:8px;
                        }
                        h3 {
                                font-family: $font-family-medium;
                                max-width:100%;  
                                font-size:22px;
                                font-weight:500;
                                line-height:1.18;                              
                        }
                        p {
                                font-size:16px;
                                line-height:1.63;
                                padding: 0 2em;
                                margin-bottom:4em;
                        }                        
                }
                
        }
}

.product-features--whitebg {
        background:$white!important;
}

.contact-section {
        display:flex;
        width:100%;
        flex-direction: column;
        align-items: center;
        background:$lightgrey!important;
        padding-bottom:5em;
        h1 {
                font-family: $font-family-medium;
                font-size:60px;
                font-weight:500;
                line-height: 1.07;
                text-align:center;    
                margin-top:1em;      
                max-width:730px;
        }
        h2 {
                font-family: $font-family-regular;
                font-size:32px;
                font-weight:normal;
                opacity:0.4;
                text-align:center;
                margin-top:8px;
                max-width:730px;
        }
        form {
                display:flex;
                flex-direction: column;
                width: 90%;
                max-width:600px;
                margin-top: 3em;  
                font-family: $font-family-regular;
                font-size:20px;
                label {
                        padding-bottom:0.25em;
                }
                input,select,textarea {
                        border: 1px solid #d2d2d2;
                        border-radius: 4px;
                        height: 48px;   
                        font-family: $font-family-regular;
                        font-size:20px;
                        padding:1em;      
                        margin-bottom:1.5em;
                        background:$white;                                     
                }
                input:focus,select:focus,textarea:focus {
                        outline: none !important;
                        border-color: #f3a540;
                        box-shadow: 0 0 10px #f3a540;                                  
                }
                
                textarea {
                        resize:none;
                        height: 144px;   
                }
                button {
                        align-self: flex-end;
                        font-family: $font-family-medium;
                        font-size:16px;
                        font-weight:500;
                        text-transform: uppercase;
                        color:$white;
                        background-color:#d4d4d4;
                        border-radius:4px;
                        padding:0.5em 1em;
                        &:hover {
                                cursor:pointer;
                                background-color:$gold;
                        }
                }
                
        }
        @include media($tablet) {
                h1 {
                        font-size:34px;
                        line-height:1.12;
                }
                h2 {
                        font-size:22px;
                        line-height:1.18;
                }
                form {
                        margin-top:2em;
                        font-size:20px;
                        label {
                                font-size:16px;
                        }                        
                }
        }
        @include media($mobile) {
                h2 {
                        padding: 0 3em;
                }
        }        
}    
.section--top-pad {
        padding-top:5em;
}

.cards-section {
        display:flex;
        flex-direction: column;
        align-items: center;
        background:$white!important;     
        margin:2em 6em;   
        padding-bottom:4em;
        h1 {
                font-family: $font-family-medium;
                font-size:60px;
                font-weight:500;
                line-height: 1.07;
                text-align:center;  
                margin-top:1em;              
        }
        h2 {
                font-family: $font-family-regular;
                font-size:32px;
                font-weight:normal;
                opacity:0.4;
                text-align:center;
                max-width:730px;
                margin-top:4px;
                margin-bottom:1.5em;
        }    
        .card-row {
                display:flex;
                width:100%;
                justify-content: space-around;
                flex-direction: row;
                flex-wrap:wrap;
                figure {
                        background:$white;
                        max-width:320px;
                        margin-bottom: 2em;
                        border-radius:4px;
                        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
                        transition: box-shadow 0.2s ease-in-out;  
                        img {
                                width:100%;
                        }
                        figcaption {
                                padding: 1em 1.5em;
                                h3 {
                                        font-family: $font-family-medium;
                                        font-size:24px;
                                        font-weight:500;
                                }
                                p {
                                        padding-top:0.5em;
                                        font-family:$font-family-regular;
                                        font-size:20px;
                                        line-height: 1.5;
                                        opacity:0.75;
                                } 
                        }
                        &:hover {
                                box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.2);    
                                transition: box-shadow 0.2s ease-in-out;  
                        }
                }
        } 
        @include media($tablet) {
                h1 {
                        font-size:34px;
                        line-height:1.12;
                        padding: 0 2.5em;
                }
                h2 {
                        font-size:22px;
                        line-height:1.18;
                        padding-top:0.5em;
                        margin-bottom:2em;
                }
                .card-row {
                        figure:hover {
                                box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.08);
                        }
                }
        }
        @include media($mobile) {
                h1 {
                        max-width:327px;
                        padding:0;
                }   
                h2 {
                        max-width:327px;
                }                                
                margin:2em 1em;   
                margin-bottom:0;
                .card-row {
                        flex-direction: column;
                        align-items: center;
                        figure {
                                max-width:327px;
                                margin-bottom:1.5em;
                                figcaption {
                                        h3 {
                                                font-size:22px;
                                                line-height:1.18;
                                        }
                                        p {
                                                font-size:16px;
                                                line-height:1.63;
                                        }
                                }
                        }
                }
        } 
}

.careers-section-location {
        z-index:10;
}