footer {
        section,div {
                background: #1a1a1a!important;
        }
        .footer__content {
                display:flex;
                flex-direction: column;
                width:100%;
                align-items:center;
                background:#1a1a1a;
                padding:5em;                
        }
        .brand {
               img {
                       max-width:260px;
               }
               padding-bottom:5em;
        }
        .address {
                display:flex;
                width:75%;
                flex-direction:row;
                justify-content: space-around;
                padding-bottom:5em;
                div {
                        text-align:center;
                }
                span {
                        font-family: $font-family-medium;
                        font-size:24px;
                        font-weight:500;
                        color:$white;
                        padding-bottom:8px;
                }
                p {
                        font-family: $font-family-regular;
                        font-size:20px;
                        line-height:1.5;
                        color:$white;
                        opacity:0.75;
                        margin-top:0;
                        margin-bottom:0.25em;
                }
        }
        .social {
                display:flex;
                width:65%;
                flex-direction: row;
                justify-content: space-around;                
                color:$white;
                padding-bottom:5em;
                .icon {
                        color:$white;
                        font-size:1.75em;
                        opacity:0.75;
                }
                a:hover > .icon {
                        opacity:1;
                }
        }
        .copyright {
                p {
                        font-family: $font-family-regular;
                        font-size:16px;
                        line-height:1.88;
                        color:$white;
                        opacity:0.75;
                }
        }
}