@import "compass/reset";
@import "compass/css3";
@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
@import "_fonts";
@import "_reset";
$font-family-book: "geomanist-book",
"Avenir Next",
"Helvetica Neue",
Helvetica,
sans-serif;
$font-family-regular: "geomanist-regular",
"Avenir Next",
"Helvetica Neue",
Helvetica,
sans-serif;
$font-family-medium: "geomanist-medium",
"Avenir Next",
"Helvetica Neue",
Helvetica,
sans-serif;
$font-family-bold: "geomanist-bold",
"Avenir Next",
"Helvetica Neue",
Helvetica,
sans-serif;
// Main colour palette
$black : #000000;
$white : #ffffff;
$mediumgrey : #999999;
$gold : #F3A540;
$blue : #407BFF;
$lightgrey : #f8f8f8; //rgba(248, 248, 248, 100)
$darkgrey : #333D3D;
$rerun : #3f51b5;
$showpal : #3BB8D7;
$qvc : #E46667;
$threeplayer : #514A94;
$aolrise : #6C3995;
//Rise Colours
$rise-green : #00897B;
$darker-grey : #474E66;
$dark-orange : #F47056;
$light-orange : #FECC75;
$grey-text : #8C94A5;
$faded-orange : #FDF1E8;
$pin-size: 12px;
$biggerdesktop: max-width 1150px;
$desktop: max-width 1024px;
$tablet: max-width 768px;
$mobile: max-width 510px;
* {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html,
body {
    background-color: $white;
    font-family: $font-family-regular;
    font-size: 16px;
    color: $black;
    line-height: 1.5;
    height: 100%;
    position: absolute;
    @include span-columns (12);
    a {
        text-decoration: none;
        color: inherit;
    }
    .open-menu {
        overflow: hidden;
    }
    &.landing {
        background-color: $gold;
        @include media($mobile) {
            height: auto !important;
        }
    }
}

@import '_footer';

#full-screen-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    color: white;
    border-bottom: none !important;
    font-weight: 800;
    background: rgba($black, 0.9);
    &.open {
        display: block;
    }
    ul {
        text-align: center;
        position: relative;
        top: 25%;
        li {
            text-transform: uppercase;
            font-family: $font-family-book;
            font-weight: 500;
            letter-spacing: 1px;
            a {
                display: block;
                text-align: center;
                font-size: 1.5em;
                padding: 1em;
                @include media($tablet) {
                    font-size: 2em;
                }
                @include media($mobile) {
                    font-size: 1.5em;
                }
            }
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-medium;
    line-height: 1.25em;
}

h1 {
    font-size: 2em;
    line-height: 2em;
    letter-spacing: -0.02em;
    @include media($mobile) {
        font-size: 1.5em;
    }
}

p {
    line-height: 1.5em;
    max-width: 35em;
    font-size: 1.125em;
    margin-bottom: 1em;
    @include media($mobile) {
        font-size: 1em;
    }
    &.small {
        font-size: 0.75em !important;
    }
}

strong {
    font-family: $font-family-medium;
    font-weight: 400;
}

span.highlight {
    color: $gold;
    font-weight: 700;
}

.icon {
    color: $gold;
}

section {
    background: $white;
    position: relative;
    z-index: 1;
}

section:nth-of-type(2n) {
    background: $lightgrey;
}

nav {
    display:flex;
    flex-direction: row;
    align-items: center;

    height: 64px;
    position: fixed;
    width: 100%;
    transition-duration: 0.2s;
    z-index: 3;
    background: rgba(0, 0, 0, 0.9);
    ul {
        list-style: none;
        width: 100%;
        @include media($mobile) {
            height: auto;
            position: relative;
        }
    }
    div#alignright {
        float: right;
        position: fixed;
        right: 8.5298%;
        font-family: $font-family-book;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;

        > ul {
            display:flex;
            height:64px;
        }

        @include media ($tablet) {
            display: none;
            float: none;
            position: relative;
            left: 0;
        }
        @include media ($mobile) {
            display: none;
            float: none;
            position: relative;
            left: 0;
        }
    }
    a.brand {
        float: left;
        position: fixed;
        left: 8.5298%;
        margin-top:3px;
        text-decoration: none !important;
        @include media ($tablet) {
            left: 20px;
        }
        @include media ($mobile) {
            margin-top: 15px;
            left: 20px;
        }
        img.logo {
            max-width: 180px;
            z-index: 1000;
            @include media ($mobile) {
                max-width: 160px;
            }
        }
        span.name {
            margin-left: 10px;
            color: $white;
            font-size: 1.25em;
            text-transform: uppercase;
            font-family: "brandon-grotesque", "open-sans", "Avenir Next", "Helvetica Neue", sans-serif;
            font-weight: 700;
        }
    }
    .toggle-menu__link {
        display: flex;
        flex-direction: row;
        align-items:center;
        margin-left: 1em;
        background: $black;
        color: $white;
        font-size: 1em;
        padding: 1em 1em;

        @include media ($tablet) {
            width: 100%;
            border: none !important;
        }
        @include media ($mobile) {
            width: 100%;
        }
        li#home {
            padding: 0.5em 1em 0em 1em;
            font-size: 1.3em;
            font-weight: 700;
        }
        a {
            text-decoration: none;
            color: inherit;
            opacity: 0.75;
        }
        &:hover {
            cursor: pointer;
            border-bottom: 3px solid $gold;
            margin-top:3px;
            @include media ($tablet) {
                border-bottom: none !important;
                text-decoration: none;
                color: inherit;
            }
        }
    }
    .active {
        color: $white;
        opacity: 1;
    }
    &.headroom--not-top {
        background: rgba($black, 0.90);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        @include media ($tablet) {
            box-shadow: none;
        }
    }
    .dropdown-menu {
        display: flex;
        flex-direction: row;
        align-items:center;        
        position: relative;
        margin-left: 1em;
        background: $black;
        color: $white;
        font-size: 1em;
        padding: 0.8em 1em;
        @include media ($tablet) {
            width: 100%;
            border: none !important;
        }
        @include media ($mobile) {
            width: 100%;
        }
    }
    .dropdown-toggle {
        position: relative;
    }
    .dropdown-menu:hover {
        cursor: default;
        border-bottom: 3px solid $gold;
        margin-top:3px;
        @include media ($tablet) {
            border-bottom: none !important;
            text-decoration: none;
            color: inherit;
        }
    }
    .dropdown-menu:hover > .dropdown-items,
    .dropdown-menu > .dropdown-items:hover {
            visibility: visible;
            height: 198px;
            transition: height .3s ease-in-out;
            transform: translateY(60%);
            > li {
                opacity: 1;
                transition: opacity .3s ease-in-out;    
            }
    }
    .dropdown-menu:hover > .dropdown-toggle:after {
        content: "\0025BE";
        position: absolute;
        opacity: 0.75;
        font-size: 1.6em;
        line-height: 0.85;
        margin-left: 0.2em;
        transform: scale(0.75, 0.8) rotate(180deg);
        transition: transform .3s ease-in-out;
    }    
    .dropdown-toggle:after {
        content: "\0025BE";
        position: absolute;
        opacity: 0.75;
        font-size: 1.6em;
        line-height: 0.85;
        margin-left: 0.2em;
        transform: scale(0.75, 0.8);
        transition: transform .3s ease-in-out;
    }
    .dropdown-items {
        position: absolute;
        visibility: hidden;
        display: flex;
        height: 0;
        width: 232px;
        left: -77px;        
        z-index: -1;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        transition: height .2s ease-in-out;
        text-align: center;
        li {
            margin: 0;
            color: $white;
            padding: 0.6em 1em;
            font-size: 1em;
            background: unset;
            opacity: 0;
        }
        li:hover {
            text-decoration: underline;
        }
        &>li:first-child {
            padding-top: 2em;
        }
    }
    .navbar__cta {
        background: $gold;
        border-radius: 4px;
        font-size: 14px;
        padding: 0.5em 1em;
        font-weight: bold;
        margin: 1em 0 1em 1em;
        > a {
            opacity: 0.75;
        }
        &:hover {
            margin: 1em 0 1em 1em;
            border: none;
            >a {
                opacity: 1;
            }
        }
    }
}

video#bgvid,video#bgvid-commerce {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: calc(100% - 40px);
    width: auto;
    height: auto;
    z-index: 0;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../assets/images/placeholder.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    @include media($tablet) {
        display: none;
    }
}

div.hero {
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include outer-container (12);
    .hero-footer {
        display: flex;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 52px;
        background: $gold;
        z-index: 1;
        justify-content: center;
        flex-direction: column;
        @include media($mobile) {
            display: none;
        }
        .hero-footer__content {
            @include shift (1);
            @include media($tablet) {
                @include span-columns (10);
                @include shift (1);
                text-align: center;
            }
            display:flex;
            align-items: center;
            font-family: $font-family-medium;
            font-size:20px;
            color: $black;
            opacity:0.75;
            i {
                font-size:1.5em;
                color: $black;
            }
            span {
                margin-left: 1em;
                border-left: 1px solid rgba(0, 0, 0, 0.75);
                padding-left: 1em;
            }
            .hero-footer__cta {
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}

#hero-content {
    position: relative;
    z-index: 1;
    padding-top: 35vh;
    color: $black;
    height: 100vh; //background: linear-gradient(to right, rgba($black, 0.9), rgba($black, 0.2));
    background: rgba($black, 0.6);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.25);
    @include span-columns(12);
    @include media($tablet) {
        background: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../assets/images/placeholder.jpg);
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    @include media($mobile) {
        padding-top: 33vh;
        background-position: center;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: auto;
    }
    h1,
    p {
        @include span-columns (8);
        @include shift (1);
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
        @include media($tablet) {
            @include span-columns (10);
            @include shift (1);
            text-align: center;
        }
    }
    h1 {
        font-size: 60px;
        font-family: $font-family-bold;
        font-weight: bold;
        line-height: 64px;
        color: $white;
        margin-bottom:0.125em;
        @include media($tablet) {
            line-height: 1em;
        }
        @include media($mobile) {
            font-size: 2.5em;
        }
    }
    p {
        font-size: 1.75em;
        max-width: 24em;
        color: rgba(255, 255, 255, 0.75);
        padding-bottom: 8em;
        line-height: 1.4;
        @include media($tablet) {
            max-width: none;
            padding: 0.5em 2em 8em 2em;
        }
        @include media($mobile) {
            max-width: none;
            padding: 1em 2em 8em 2em;
            font-size: 1em;
            @include span-columns (12);
            @include shift (0);
        }
    }
    img {
        max-width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@import '_commerce';

section.ediflo {
    background: white;
    text-align: center;
    margin: 0 auto;
    padding: 5em 0;
    p {
        padding: 1em;
        margin-bottom: 0 !important;
        margin: 0 auto !important;
        max-width: 26em;
        color: rgba(0, 0, 0, 0.75);
    }
    img {
        max-width: 180px;
        margin: 1em auto;
    }
    .store-link img {
        height: 45px !important;
        margin: 0 !important;
    }
    .features {
        padding-top: 2em;
        ul.rig.columns-4 li {
            width: 20%;
        }
        ul.rig {
            list-style: none;
            font-size: 0px;
            padding: 3em 0;
            text-align: center;
            @include media ($mobile) {
                margin-left: 10px;
            }
            li {
                display: inline-block;
                margin: 0 1.25% 2.5% 1.25%;
                background: $white;
                font-size: 16px;
                vertical-align: top;
                text-align: left;
                @include media ($tablet) {
                    width: 30% !important;
                }
                @include media ($mobile) {
                    width: 100% !important;
                    margin: 0 0 20px;
                }
                a {
                    color: inherit;
                }
                h3 {
                    color: $mediumgrey;
                    font-family: $font-family-book;
                    text-transform: uppercase;
                    font-size: 0.875em;
                    letter-spacing: 2px;
                    line-height: 2em;
                }
                h2 {
                    font-family: $font-family-medium;
                    font-size: 1.5em;
                }
                p {
                    font-size: 1em;
                    padding: 0 0 0.5em 0;
                }
            }
        }
    }
    .button {
        display: inline-block;
        border: 2px solid $black;
        background: none;
        margin-top: 0.5em;
        margin-bottom: 2em;
        padding: 0.6em 1.5em 0.5em 1.5em;
        color: $black;
        border-radius: 50px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-family-medium;
        font-size: 0.875em;
        letter-spacing: 1px;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        &.on-light {
            border: 2px solid #256FD0;
            color: #256FD0;
        }
        &:hover {
            cursor: pointer;
            background: $white;
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
        &.disabled {
            opacity: 0.25;
        }
        &.disabled:hover {
            cursor: default;
            background: none !important;
            transform: none;
            -webkit-transform: none;
        }
    }
}

section.services {
    padding-top: 5em;
    background: white;
    text-align: center;
    p {
        text-align: center;
        margin: 0 auto;
        padding: 0 0.5em;
        font-size: 1.25em;
        line-height: 1.5em;
        color: rgba(0, 0, 0, 0.75);
    }
    .case-button {
        display: inline-block;
        border: 2px solid $black;
        background: none;
        margin-top: 2em;
        padding: 0.6em 1.5em 0.5em 1.5em;
        color: $black;
        border-radius: 50px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-family-medium;
        font-size: 0.875em;
        letter-spacing: 1px;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        &.on-light {
            border: 2px solid $gold;
            color: $gold;
        }
        &:hover {
            cursor: pointer;
            background: $white;
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
        &.disabled {
            opacity: 0.25;
        }
        &.disabled:hover {
            cursor: default;
            background: none !important;
            transform: none;
            -webkit-transform: none;
        }
    }
}

section.case-study {
    padding: 150px 0;
    min-height: 80vh;
    overflow: hidden;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    @include outer-container();
    @include media($mobile) {
        height: 90vh;
    }
    .info {
        z-index: 1;
        @include span-columns (4);
        @include shift (1);
        @include media($desktop) {
            @include span-columns (5);
        }
        @include media($tablet) {
            @include span-columns (6);
        }
        @include media($mobile) {
            @include span-columns (10);
            text-align: center;
        }
    }
    h1 {
        font-size: 2em;
        color: $white;
        padding-bottom: 1em;
    }
    p {
        color: rgba(255, 255, 255, 0.9);
        font-size: 1.25em;
        @include media($mobile) {
            font-size: 1em;
        }
    }
    img.logo {
        max-height: 100px;
        max-width: 200px;
        margin-bottom: 1em;
    }
    .case-button {
        display: inline-block;
        border: 2px solid rgba(255, 255, 255, 0.5);
        background: none;
        margin-top: 1em;
        padding: 0.6em 1.5em 0.5em 1.5em;
        color: rgba(255, 255, 255, 0.9);
        border-radius: 50px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font-family-medium;
        font-size: 0.875em;
        letter-spacing: 1px;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        &.on-light {
            border: 2px solid $gold;
            color: $gold;
        }
        &:hover {
            cursor: pointer;
            background: $white;
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
        &.disabled {
            opacity: 0.25;
        }
        &.disabled:hover {
            cursor: default;
            background: none !important;
            transform: none;
            -webkit-transform: none;
        }
    }
    .store-link img {
        height: 45px;
    }
    &.threeplayer {
        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            background: radial-gradient(circle farthest-corner at right bottom, rgba($threeplayer, 0.1) 0%, rgba($threeplayer, 0.2) 20%, rgba($lightgrey, 0.3) 45%, rgba($lightgrey, 0.8) 70%, rgba($lightgrey, 1) 100%), url(../assets/images/case-studies/three-player/three-player-featured-2.jpg);
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-position-y: 25%;
            @include media($tablet) {
                background-position-x: 50% !important;
            }
            @include media($mobile) {
                background-position-x: 50% !important;
            }
        }
        h1 {
            color: $threeplayer;
        }
        p {
            color: $black;
        }
        .case-button {
            border-color: $threeplayer;
            color: $black;
            @include media ($mobile) {
                background: $threeplayer;
                color: white;
            }
            &:hover {
                color: $white;
                background: $threeplayer;
            }
            &.disabled:hover {
                color: $black;
                background: none;
            }
        }
    }
    &.ifiplayer {
        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            background: linear-gradient(rgba($black, 0.9), rgba($black, 0.9)), url(../assets/images/case-studies/ifi-player/apple-tv-banner.jpg);
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-position-y: 25%;
            @include media($tablet) {
                background-position-x: 50% !important;
            }
            @include media($mobile) {
                background-position-x: 50% !important;
            }
        }
        .info {
            @include media($desktop) {
                @include span-columns (5);
            }
            @include media($tablet) {
                @include span-columns (6);
                @include shift(3);
                text-align: center;
            }
            @include media($mobile) {
                @include span-columns (10);
                @include shift(1);
            }
        }
        .atvImg {
            width: 200px;
            height: 120px;
            margin-bottom: 30px;
            @include media($tablet) {
                margin: 0 auto 20px auto;
            }
        }
        .featured {
            z-index: 1;
            margin-right: -10% !important;
            @include span-columns (8);
            @include media($biggerdesktop) {
                @include span-columns (8);
                margin-right: -10% !important;
            }
            @include media($tablet) {
                display: none;
            }
            img {
                max-width: 100%;
            }
        }
        .case-button:hover {
            background-color: transparent !important;
        }
    }
    &.qvc {
        background: linear-gradient(rgba($qvc, 0.95) 0%, rgba($qvc, 1) 50%, rgba($qvc, 0.95) 100%);
        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 0;
            background: linear-gradient(rgba($qvc, 0.9) 0%, rgba($qvc, 0.98) 50%, rgba($qvc, 1) 100%), url(../assets/images/case-studies/qvc/ipad-four.jpg);
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-position-y: 25%;
            @include media($tablet) {
                background-position-x: 50% !important;
            }
            @include media($mobile) {
                background-position-x: 50% !important;
            }
        }
        .featured {
            z-index: 1;
            @include span-columns (6);
            @include shift(0.25);
            @include media($biggerdesktop) {
                @include span-columns (5);
                @include shift(0.25);
            }
            @include media($mobile) {
                display: none;
            }
            img {
                max-width: 100%;
            }
        }
        .case-button {
            border-color: $qvc;
            @include media ($mobile) {
                background: $qvc;
                color: white;
            }
            &:hover {
                background: $qvc;
            }
            &.disabled:hover {
                background: none;
            }
        }
    }
    &.qvc-tv {
        background: $white;
        .info {
            @include media($desktop) {
                @include span-columns (5);
            }
            @include media($tablet) {
                @include span-columns (6);
                @include shift(3);
                text-align: center;
            }
            @include media($mobile) {
                @include span-columns (10);
                @include shift(1);
            }
        }
        h3 {
            margin-bottom: 1em;
            color: $mediumgrey;
            font-family: $font-family-book;
            text-transform: uppercase;
            font-size: 0.875em;
            letter-spacing: 2px;
            line-height: 2em;
        }
        blockquote {
            margin-top: 1.25em;
            font-family: $font-family-book;
            font-size: 1.5em;
            line-height: 1.25;
            color: $black;
        }
        p {
            color: rgba($black, 0.8);
            font-size: 1.125em;
        }
        p.subtext {
            margin-top: 0.5em;
            font-family: $font-family-book;
            font-size: 1em;
            color: $mediumgrey;
        }
        .atvImg {
            width: 200px;
            height: 120px;
            margin-bottom: 30px;
            @include media($tablet) {
                margin: 0 auto 20px auto;
            }
        }
        img.logo {
            max-height: none;
            max-width: 200px;
            box-shadow: 0 0 8px rgba($black, 0.1);
            margin-bottom: 20px;
            transition: all .1s ease-in-out;
            &:hover {
                transform: scale(1.1);
                -webkit-transform: scale(1.1);
                box-shadow: 0 0 16px rgba($black, 0.2);
            }
        }
        .featured {
            z-index: 1;
            margin-right: -5% !important;
            @include span-columns (7);
            @include shift(1);
            @include media($biggerdesktop) {
                @include span-columns (8);
                margin-right: -10% !important;
            }
            @include media($tablet) {
                display: none;
            }
            img {
                max-width: 100%;
                border-radius: 4px;
                border: 15px solid $black;
                box-shadow: 0 8px 30px rgba(14, 21, 47, 0.45);
            }
        }
    }
}

// Sub Section
section.featured {
    background: $white;
    padding-top: 6em;
    text-align: center;
    @include outer-container;
    @include media($mobile) {
        padding: 2em 0 0 0;
    }
    p {
        font-size: 1.125em;
        margin: 0 auto 6em auto;
        max-width: 50%;
        color: $mediumgrey;
        @include media($tablet) {
            max-width: 75%;
        }
        @include media($mobile) {
            max-width: 90%;
        }
    }
    img.logo {
        /*
        max-height: 100px;
        max-width: 200px;
        */
        box-shadow: 0 0 12px rgba($black, 0.1);
        margin-bottom: 1em;
        transition: all .1s ease-in-out;
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            box-shadow: 0 0 24px rgba($black, 0.2);
        }
    }
}

section.logos {
    @include outer-container;
    background-color: $lightgrey;
    padding: 100px 0;
    text-align: center;
    @include media($tablet) {
        padding: 5em 0 2em 0;
    }
    h1 {
        width: 100%;
        line-height: 1.2em;
        margin-bottom: 1em;
    }
    img {
        max-height: 25px;
        margin: 0 auto;
    }
    ul {
        list-style: none;
        padding-top: 10px;
        width: 100%;
        max-width: 960px;
        list-style: none;
        margin: 0 auto;
    }
    li {
        width: 150px;
        height: 150px;
        display: inline-flex;
        display: -webkit-inline-flex;
        align-items: center;
        -webkit-align-items: center;
        transition: all .1s ease-in-out;
        background-color: $white;
        margin: 0 4px 12px 4px;
        @include media($desktop) {
            width: 160px;
            height: 160px;
        }
        @include media($tablet) {
            width: 150px;
            height: 150px;
        }
        @include media($mobile) {
            width: 140px;
            height: 140px;
        }
        &:hover {
            transform: scale(1.1);
            -webkit-transform: scale(1.1);
            box-shadow: 0 0 24px rgba($black, 0.1);
        }
    }
    &.clients {
        img {
            max-height: 50px;
        }
    }
}

section.rerun {
    padding: 150px 0 120px 0 !important;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25), inset 0 -4px 8px rgba(0, 0, 0, 0.25);
    height: 70vh;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    @include media($mobile) {
        height: 90vh;
    }
    img {
        float: none !important;
        margin: 0 auto 1em auto !important;
        max-width: 180px;
    }
    p {
        margin-bottom: 2em !important;
        &.small {
            margin-top: 1em;
        }
    }
    form {
        width: 100%;
        @include media($mobile) {
            margin: 0 auto;
        }
    }
    input[type="email"] {
        -webkit-appearance: none;
        border: none;
        background: $lightgrey;
        color: $darkgrey;
        border-radius: 4px;
        padding: 1em 10em 1em 1em;
        font-size: 1em;
        font-weight: 400;
        outline: none;
        @include media($mobile) {
            width: 90%;
        }
    }
    input[type="submit"] {
        -webkit-appearance: none;
        font-weight: 400;
        font-size: 1em;
        text-transform: uppercase;
        position: relative;
        margin-left: -8px;
        border-radius: 0px 4px 4px 0px;
        background-color: $rerun;
        padding: 1em 2em;
        border: none;
        color: $white;
        outline: none;
        @include media($mobile) {
            margin-left: 0;
            border-radius: 4px;
            margin-top: 10px;
        }
        &:hover {
            cursor: pointer;
            background-color: darken($rerun, 5%);
        }
    }
}

section.contact {
    @include outer-container;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    background-color: $white;
    div.content {
        @include span-columns (10);
        @include shift(1);
        padding: 50px 0;
        @include media($tablet) {
            @include span-columns (10);
        }
        @include media($mobile) {
            @include span-columns (10);
        }
        .addresses {
            @include span-columns (10 of 10);
            @include media($tablet) {
                @include span-columns (10 of 10);
            }
            @include media($mobile) {
                @include span-columns (10 of 10);
            }
        }
        section {
            @include span-columns (2.5 of 10);
            background-color: $white;
            @include media($tablet) {
                @include span-columns (10 of 10);
            }
            @include media($mobile) {
                @include span-columns (10 of 10);
            }
        }
        h3 {
            color: $mediumgrey;
            font-family: $font-family-book;
            text-transform: uppercase;
            font-size: 0.875em;
            letter-spacing: 2px;
            line-height: 2em;
        }
        ul {
            list-style: none;
            margin-bottom: 2em;
        }
        li {
            display: block;
            line-height: 1.75em;
        }
        a {
            color: $blue;
            text-decoration: none;
        }
        a:hover {
            color: darken($blue, 5%);
            border-bottom: 2px solid rgba($blue, 0.5);
        }
    }
}

//
// Footer
// --------------------------------------------------
// footer {
//     @include outer-container;
//     clear: both;
//     background: $black;
//     /*
//     background-image: linear-gradient(rgba($black, 1), rgba($black, 0.7)), url('../assets/images/services-ios.jpg');
//     background-size: cover;
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     */
//     box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.25);
//     padding: 50px 0 30px 0;
//     @include media($tablet) {
//         background-position-x: 50%;
//     }
//     .footer-content {
//         @include span-columns (11);
//         @include shift(1);
//     }
//     p {
//         font-size: 1em;
//         max-width: 25em;
//         color: rgba(255, 255, 255, 0.75);
//         margin-top: 1em;
//     }
//     img.logo {
//         max-width: 200px;
//     }
//     .section {
//         @include span-columns (2.5 of 11);
//         &.brand {
//             @include span-columns (4 of 12);
//             @include media($tablet) {
//                 margin-top: 0;
//                 @include span-columns (11 of 11);
//             }
//             @include media($mobile) {
//                 @include span-columns (10 of 11);
//                 margin-bottom: 1em;
//             }
//         }
//         @include media($desktop) {
//             @include span-columns (2.5 of 11);
//         }
//         @include media($tablet) {
//             margin-top: 2em;
//             @include span-columns (4 of 11);
//         }
//         @include media ($mobile) {
//             @include span-columns (10 of 11);
//             margin: 0 auto;
//         }
//         &.explore {
//             @include shift(1.5);
//             @include media($tablet) {
//                 @include shift(0);
//             }
//             @include media ($mobile) {
//                 display: none;
//             }
//         }
//         h3 {
//             font-family: "geomanist-book", "Avenir Next", "Helvetica Neue", Helvetica, sans-serif;
//             text-transform: uppercase;
//             color: rgba($lightgrey, 0.6);
//             font-size: 0.875em;
//             letter-spacing: 2px;
//             line-height: 2em;
//         }
//         ul {
//             list-style: none;
//         }
//         li {
//             display: block;
//             color: rgba($lightgrey, 0.9);
//             font-size: 1em;
//             line-height: 2em;
//         }
//         a {
//             color: rgba(255, 255, 255, 0.9);
//             text-decoration: none;
//             font-weight: 400;
//         }
//         a:hover {
//             color: $white;
//             border-bottom: 2px solid rgba($lightgrey, 0.6);
//         }
//     }
//     .legality {
//         @include span-columns (10 of 11);
//         font-family: $font-family-book;
//         font-size: 0.75em;
//         color: rgba(255, 255, 255, 0.5);
//         padding-top: 1em;
//         margin-top: 100px;
//         border-top: 1px solid rgba(255, 255, 255, 0.2);
//         @include media ($mobile) {
//             margin-top: 40px;
//         }
//         span {
//             vertical-align: top;
//             margin-left: 5px;
//         }
//         div {
//             display: inline-block;
//         }
//         .eu {
//             float: right;
//         }
//         img {
//             height: 16px;
//         }
//     }
// }

//
// Case studies
// ----------------------------------------------------------------------------------------------------
// Hero/header section
header.case-study {
    display: flex;
    align-items: center;
    height: 80vh;
    background: $black;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    @include outer-container;
    @include media($tablet) {
        //height: auto;
    }
    #main-content {
        text-align: center;
        position: relative;
        margin: 0 auto;
        h1 {
            font-size: 2em;
            line-height: 1.5em;
            color: $white;
            @include media($mobile) {
                font-size: 1.5em;
            }
        }
        p {
            margin: 0 auto;
            font-size: 1.25em;
            max-width: 35em;
            color: rgba(255, 255, 255, 0.9);
            @include media($tablet) {
                max-width: 75%;
                font-size: 1.125em;
            }
            @include media($mobile) {
                max-width: 90%;
                font-size: 1em;
            }
        }
        .atvImg {
            width: 240px;
            height: 144px;
            margin: 30px auto;
            @include media($biggerdesktop) {
                width: 200px;
                height: 120px;
            }
            @include media($mobile) {
                width: 160px;
                height: 96px;
            }
            @include media($tablet) {
                margin: 0 auto 20px auto;
            }
        }
    }
    img.logo {
        max-height: 100px;
        max-width: 200px;
    }
    img.hero {
        margin-top: 12em;
        @include span-columns (8);
        @include shift (2);
        @include media($tablet) {
            @include span-columns (10);
            @include shift (1);
        }
    }
    &.services {
        background: linear-gradient(rgba($black, 0.5) rgba($black, 0.5)), url('/assets/images/services-ios.jpg');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 80vh;
        box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.25);
        @include media($biggerdesktop) {
            height: 100vh;
        }
        @include media($tablet) {
            height: 60vh;
        }
        @include media($mobile) {
            height: auto;
            padding: 150px 0 90px 0;
            background: linear-gradient(rgba($black, 0.75) rgba($black, 0.75)), url('/assets/images/services-ios.jpg');
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
        h1 {
            font-size: 3em !important;
            @include media($mobile) {
                font-size: 2em !important;
            }
        }
        p {
            font-size: 1.5em !important;
            max-width: 26em !important;
            color: rgba(255, 255, 255, 0.75) !important;
            @include media($mobile) {
                font-size: 1.125em !important;
                padding: 0 1em;
            }
        }
    }
    &.qvc-apple-tv {
        background: linear-gradient(rgba($black, 0.5) rgba($black, 0.5)), url('/assets/images/case-studies/qvc/qvc-apple-tv-blurred.jpg');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 80vh;
        box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.25);
        @include media($biggerdesktop) {
            height: 100vh;
        }
        @include media($tablet) {
            height: 60vh;
        }
        @include media($mobile) {
            height: auto;
            padding: 150px 0 90px 0;
            background: linear-gradient(rgba($black, 0.75) rgba($black, 0.75)), url('/assets/images/case-studies/qvc/qvc-apple-tv-blurred.jpg');
        }
        p.subtext {
            font-family: $font-family-book !important;
            font-size: 1em !important;
            margin-top: 0.5em !important;
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }
    &.ifi-player {
        background: linear-gradient(rgba($black, 0.8) rgba($black, 0.8)), url('/assets/images/case-studies/ifi-player/apple-tv-banner.jpg');
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 80vh;
        box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.25);
        @include media($biggerdesktop) {
            height: 100vh;
        }
        @include media($tablet) {
            height: 60vh;
        }
        @include media($mobile) {
            height: auto;
            padding: 150px 0 90px 0;
            background: linear-gradient(rgba($black, 0.8) rgba($black, 0.8)), url('/assets/images/case-studies/ifi-player/apple-tv-banner.jpg');
            background-size: cover;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
        }
        h1 {
            font-size: 3em !important;
            @include media($mobile) {
                font-size: 2em !important;
            }
        }
        p {
            font-size: 1.5em !important;
            max-width: 26em !important;
            color: rgba(255, 255, 255, 0.75) !important;
            @include media($mobile) {
                font-size: 1.125em !important;
                padding: 0 1em;
            }
        }
    }
}

section.image-block {
    padding: 2em 0;
    width: 100%;
    background-color: #fff !important;
    img {
        max-width: 100%;
    }
}

// Features section
section.features {
    padding: 4em 0;
    @include outer-container;
    @include media($mobile) {
        padding: 2em 0;
    }
    ul {
        @include span-columns (11);
        @include shift (1);
        list-style-type: none;
        text-align: center;
    }
    li {
        display: block;
        @include span-columns(2 of 11);
        @include omega(5n);
        @include media($tablet) {
            @include span-columns(3 of 11);
            @include omega(3n);
            margin-bottom: 2em;
        }
        @include media($mobile) {
            @include span-columns(5 of 11);
            @include omega(2n);
            margin-bottom: 2em;
        }
        font-size: 1em;
    }
    h3 {
        padding-top: 1em;
        font-weight: 600;
        @include media($mobile) {
            padding-top: 0.5em;
        }
    }
}

// Objectives section
section.objectives {
    padding: 6em 0 3em 0;
    @include outer-container;
    @include media($mobile) {
        padding: 2em 0 0 0;
    }
    img {
        margin-top: 0;
        margin-bottom: 4em;
        max-width: 100%;
        border-radius: 4px;
        border: 15px solid #151828;
        box-shadow: 0 8px 30px rgba(14, 21, 47, 0.45);
        @include media($mobile) {
            margin-bottom: 2em;
            border: 7px solid #151828;
        }
        @include span-columns(8);
        @include shift (2);
        @include media($tablet) {
            @include span-columns(10);
            @include shift (1);
        }
    }
}

// Sub Section
section.image-banner {
    background: $black;
    padding: 6em 0;
    text-align: center;
    background: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../assets/images/case-studies/showpal/gallery-header.png);
    @include outer-container;
    @include media($mobile) {
        padding: 2em 0 0 0;
    }
    h1 {
        color: $white;
    }
    p {
        font-size: 1.25em;
        margin: 0 auto 6em auto;
        max-width: 24em;
        color: rgba($white, 0.8);
        @include media($tablet) {
            max-width: 75%;
        }
        @include media($mobile) {
            font-size: 1.25em;
            max-width: 90%;
        }
    }
    p.small {
        font-size: 0.875em !important;
        max-width: 90%;
    }
    p.lead {
        font-size: 1.5em !important;
        max-width: 50% !important;
        @include media($mobile) {
            font-size: 1.25em !important;
            max-width: 90% !important;
        }
    }
    &.clear,
    &.dark {
        background: $white;
        padding: 6em 0 0 0;
        @include media($mobile) {
            padding: 2em 0 0 0;
        }
        h1 {
            color: $gold;
            margin: 0 auto;
            max-width: 25em;
            line-height: 1.25em;
            @include media($mobile) {
                font-size: 1.125em;
            }
        }
        h2 {
            font-family: $font-family-medium;
            font-size: 1.5em;
        }
        blockquote {
            margin: 0 auto;
            max-width: 24em;
            font-family: $font-family-book;
            font-size: 1.5em;
            line-height: 1.25;
            color: $black;
        }
        p {
            color: rgba($black, 0.8);
            font-size: 1.125em;
        }
        p.subtext {
            margin-top: 0.5em;
            font-family: $font-family-book;
            font-size: 1em;
            color: $mediumgrey;
        }
        img.logo {
            max-width: 100%;
            width: 150px;
            margin-bottom: 30px;
        }
        img.logos {
            max-width: 100%;
            width: 50%;
            margin-top: 30px;
            @include media($mobile) {
                width: 90%;
            }
        }
    }
    &.dark {
        background: #121212;
        padding: 8em 0 0 0;
        blockquote {
            padding: 0 1em;
            color: $white;
        }
        p {
            color: rgba($white, 0.8);
        }
    }
    &.rerun {
        //background: url(../assets/images/rerun-bg.png);
        background: linear-gradient(rgba($black, 0.6), rgba($black, 0.6)), url(../assets/images/rerun-bad-tv.jpg);
        background-size: 75%;
    }
    &.qvc {
        background: linear-gradient(to right, rgba($black, 1), rgba($black, 0.4)), url(../assets/images/case-studies/qvc/qvc-featured.jpg)
    }
    &.threeplayer {
        background: linear-gradient(rgba($threeplayer, 0.9), rgba($threeplayer, 0.9)), url(../assets/images/case-studies/showpal/gallery-header.png);
    }
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* Menu Icon */

#menu-icon {
    width: 40px;
    height: 30px;
    position: relative;
    float: right;
    display: none;
    top: 23px;
    right: 20px;
    z-index: 1000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    @include media ($tablet) {
        display: block;
    }
    @include media ($mobile) {
        display: block;
        top: 23px;
        width: 30px;
        height: 15px;
    }
}

#menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: $white;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    @include media ($mobile) {
        height: 3px;
        border-radius: 3px;
    }
}

#menu-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#menu-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    @include media ($mobile) {
        top: 8px;
    }
}

#menu-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    @include media ($mobile) {
        top: 16px;
    }
}

#menu-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    left: 6px;
    @include media ($mobile) {
        top: 0px;
        left: 4px;
    }
}

#menu-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#menu-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 26px;
    left: 6px;
    @include media ($mobile) {
        top: 21px;
        left: 4px;
    }
}

//
// Apple TV Images
// ----------------------------------------------------------------------------------------------------
.atvImg {
    border-radius: 5px;
    transform-style: preserve-3d;
    -webkit-tap-highlight-color: rgba(#000, 0);
}

.atvImg img {
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(14, 21, 47, 0.25);
}

.atvImg-container {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.atvImg-container.over .atvImg-shadow {
    box-shadow: 0 45px 100px rgba(14, 21, 47, 0.3), 0 16px 40px rgba(14, 21, 47, 0.3);
}

.atvImg-layers {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.atvImg-rendered-layer {
    position: absolute;
    width: 104%;
    height: 104%;
    top: -2%;
    left: -2%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
    transition: all 0.1s ease-out;
}

.atvImg-shadow {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.2s ease-out;
    box-shadow: 0 8px 30px rgba(14, 21, 47, 0.45);
}

.atvImg-shine {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, .25) 0%, rgba(255, 255, 255, 0) 60%);
}

//
// Animation
// ----------------------------------------------------------------------------------------------------
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fade-in;
    animation-name: fade-in;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    -webkit-animation-name: fade-out;
    animation-name: fade-out;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}

.animsition,
.animsition-overlay {
    position: relative;
    opacity: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animsition-loading,
.animsition-loading:after {
    width: 32px;
    height: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -16px;
    border-radius: 50%;
    z-index: 100;
}

.animsition-loading {}

//
// Landing Page
// ----------------------------------------------------------------------------------------------------
.landing__container {
    @include outer-container;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    height: 100%;
    background-color: $white;
    box-shadow: inset 0 0 0 8px $gold;
    padding: 8px;
}

.landing__block {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    @include span-columns (6);
    padding: 32px;
    @include media ($tablet) {
        @include span-columns (12);
    }
    @include media ($mobile) {
        padding: 16px;
        @include span-columns (12);
    }
    h1 {
        font-size: 2.25em;
        line-height: 1em;
        margin-bottom: 0.5em;
        @include media ($mobile) {
            font-size: 2em;
        }
    }
}

.landing__block--video {
    position: relative;
    @include span-columns (6);
    background-color: $black;
    padding: 0;
    overflow: hidden;
    @include media ($tablet) {
        display: none !important;
        @include span-columns (0);
    }
    img {
        height: 100%;
        -webkit-transform: translateX(-42%);
        transform: translateX(-42%);
    }
}

.landing__logo {
    margin-bottom: 1em;
    height: 49px;
    @include media ($mobile) {
        margin-bottom: 2em;
    }
}

.landing__form {
    width: 100%;
    @include media($mobile) {
        margin: 0 auto;
    }
    input[type="email"] {
        -webkit-appearance: none;
        border: none;
        background: $lightgrey;
        color: $darkgrey;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 1em;
        font-size: 1em;
        font-weight: 400;
        outline: none;
        transition: all 0.2s ease;
        width: 60%;
        @include media($mobile) {
            width: 100%;
            max-width: 100%;
        }
    }
    input[type="email"]:hover {
        background: darken($lightgrey, 2%);
    }
    input[type="email"]:focus,
    input[type="email"]:active {
        background: darken($lightgrey, 4%);
        border-color: $gold;
    }
    input[type="submit"] {
        -webkit-appearance: none;
        font-weight: 700;
        font-size: 1em;
        text-transform: uppercase;
        position: relative;
        margin-left: -8px;
        border-radius: 0px 4px 4px 0px;
        background-color: $gold;
        padding: 1em;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: $white;
        outline: none;
        transition: all 0.2s ease;
        @include media($mobile) {
            margin-left: 0;
            border-radius: 4px;
            margin-top: 10px;
        }
        &:hover {
            cursor: pointer;
            background-color: darken($gold, 5%);
        }
    }
}

.landing__footer {
    display: flex;
    width: 100%;
    font-family: $font-family-book;
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 1em;
    margin-top: 5em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    @include media ($mobile) {
        margin-top: 40px;
    }
    span {
        vertical-align: top;
        margin-left: 5px;
    }
    img {
        height: 16px;
    }
}