---
layout: blog-list
title: Blog
---

<h1>Latest Posts</h1>

<ul>
    {% for post in site.posts %}
        <li>
            {% if post.featured-image %}
                {% include post-featured-image.html image=post.featured-image alt=post.featured-image-alt %}
            {% endif %}
            <div>
                <h2>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                {{ post.excerpt }}
            </div>
        </li>
    {% endfor %}
</ul>
