<section class="cards-section">
    <h1>
        {{ site.cards.heading }}</h1>
    <h2>
        {{ site.cards.subheading }}</h2>
    <div class="card-row">
        <a href="https://vimeo.com/268037181" target="_blank">
            <figure>
                <img src="/assets/images/commerce-card-1.png" srcset="/assets/images/commerce-card-1.png 1x, /assets/images/commerce-card-1@2x.png 2x, /assets/images/commerce-card-1@3x.png 3x" alt="{{ site.cards.first-card.heading }}">
                <figcaption>
                    <h3>{{ site.cards.first-card.heading }}</h3>
                    <p>{{ site.cards.first-card.description }}</p>
                </figcaption>
            </figure>
        </a>
        <a href="http://rerun.axonista.com/" target="_blank">
            <figure>
                <img src="/assets/images/commerce-card-2.png" srcset="/assets/images/commerce-card-2.png 1x, /assets/images/commerce-card-2@2x.png 2x, /assets/images/commerce-card-2@3x.png 3x" alt="{{ site.cards.second-card.heading }}">
                <figcaption>
                    <h3>{{ site.cards.second-card.heading }}</h3>
                    <p>{{ site.cards.second-card.description }}</p>
                </figcaption>
            </figure>
        </a>
        <a href="https://medium.com/the-fourth-wall" target="_blank">
            <figure>
                <img src="/assets/images/commerce-card-3.png" srcset="/assets/images/commerce-card-3.png 1x, /assets/images/commerce-card-3@2x.png 2x, /assets/images/commerce-card-3@3x.png 3x" alt="{{ site.cards.third-card.heading }}">
                <figcaption>
                    <h3>{{ site.cards.third-card.heading }}</h3>
                    <p>{{ site.cards.third-card.description }}</p>
                </figcaption>
            </figure>
        </a>
    </div>
</section>