<section id="contact" class="contact">
    <div class="content">
        <h1>Contact Us</h1>
        <div class="addresses">
            <section class="address">
                <h3>Dublin</h3>
                <ul class="address">
                    <li>Axonista HQ</li>
                    <li>Exchequer Chambers</li>
                    <li>Exchequer Street</li>
                    <li>Dublin 2</li>
                    <li>Ireland</li>
                </ul>
            </section>
            <section class="address">
                <h3>London</h3>
                <ul class="address">
                    <li>Axonista UK</li>
                    <li>88-90 Hatton Garden</li>
                    <li>London</li>
                    <li>UK</li>
                </ul>
            </section>
        </div>
        <div class="addresses">
          <section class="address">
              <h3>New York</h3>
              <ul class="address">
                  <li>Axonista US</li>
                  <li>Startlab NYC</li>
                  <li>140 E 45th Street</li>
                  <li>New York</li>
                  <li>NY 10017</li>
                  <li>USA</li>
                  <li><i class="icon icon-phone"></i> <span>+1 646 480 7712</span></li>
              </ul>
          </section>
          <section class="address">
            <h3>Online</h3>
            <ul class="address">
                <li><i class="icon icon-mail"></i> <a href="mailto:connect@axonista.com">connect@axonista.com</a></li>
                <li><i class="icon icon-twitter"></i> <a href="https://twitter.com/axonista">@axonista</a></li>
                <li><i class="icon icon-facebook"></i> <a href="https://www.facebook.com/axonista">Axonista</a></li>
            </ul>
          </section>
        </div>
    </div>
    <iframe width='100%' height='640px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/ianaxonista.99663faf/attribution,zoompan.html?access_token=pk.eyJ1IjoiaWFuYXhvbmlzdGEiLCJhIjoiZWZjMTliMGFjN2RhY2IzODgwM2EyMzgwYmQyMTE5YTIifQ.9HmZyIsHxL67XCCCODfr2A'></iframe>
</section>
