<footer>
        <div class="footer__content">
                <section class="brand">
                        <img class="logo" src="/assets/images/axonista-logo.png" alt="Axonista Logo"/>
                </section>
                <section class="address">
                    <div>
                        <span>Dublin</span>
                        <p>Exchequer Chambers,<br>
                        19-23 Exchequer St, D02 AC82</p>
                        <p>+353 (0)1 676 6251</p>
                    </div>
                    <div>
                        <span>New York</span>
                        <p>Startlab NYC, 41st Floor<br>
                        140 E 45th Street, NY 10017</p>
                        <p>+1 646 480 7712</p>
                        </div>
                </section>
                <section class="social">
                    <a href="https://twitter.com/axonista" target="_blank"><i class="icon ion-logo-twitter"></i></a>
                    <a href="https://ie.linkedin.com/company/axonista" target="_blank"><i class="icon ion-logo-linkedin"></i></a>
                    <a href="https://www.instagram.com/axonistahq/" target="_blank"><i class="icon ion-logo-instagram"></i></a>
                    <a href="http://www.youtube.com/axonista" target="_blank"><i class="icon ion-logo-youtube"></i></a>
                    <a href="https://www.facebook.com/axonista/" target="_blank"><i class="icon ion-logo-facebook"></i></a>
                </section>
                <section class="copyright">
                    <p>Copyright &copy;
                            <script type="text/javascript">
                                document.write(new Date().getFullYear());
                            </script>
                        Axonista. All Rights Reserved.</p>
                </section>
        </div>
    </footer>

    </div><!-- end animsition div -->
    <script src="/js/libraries/jquery-1.11.3.min.js"></script>
    <script src="/js/libraries/jquery-ui.min.js"></script>
    <script src="/js/libraries/headroom.min.js"></script>
    <script src="/js/libraries/jquery.headroom.min.js"></script>
    <script src="/js/libraries/atvImg.min.js"></script>
    <script src="/js/libraries/animsition.min.js"></script>
    <script src="/js/libraries/instafeed.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
    <script src="/js/main.js"></script>
	</body>
</html>
