<section class="cards-section">
        <h1> {{ site.cards.heading }}</h1>
        <h2> {{ site.cards.subheading }}</h2>
        <div class="card-row">
            <a href="https://vimeo.com/channels/1311638" target="_blank">
                <figure>
                    <img src="/assets/images/commerce-card-1.png" 
                        srcset="/assets/images/commerce-card-1.png 1x, /assets/images/commerce-card-1@2x.png 2x, /assets/images/commerce-card-1@3x.png 3x"
                        alt="{{ site.cards.first-card.heading }}">
                    <figcaption>
                        <h3>{{ site.cards.first-card.heading }}</h3>
                        <p>{{ site.cards.first-card.description }}</p>
                    </figcaption>
                </figure>
            </a>
            <a href="http://rerun.axonista.com/" target="_blank">
                <figure>
                    <img 	src="/assets/images/commerce-card-2.png" 
                        srcset="/assets/images/commerce-card-2.png 1x, /assets/images/commerce-card-2@2x.png 2x, /assets/images/commerce-card-2@3x.png 3x"
                        alt="{{ site.cards.second-card.heading }}">
                    <figcaption>
                        <h3>{{ site.cards.second-card.heading }}</h3>
                        <p>{{ site.cards.second-card.description }}</p>
                    </figcaption>
                </figure>
            </a>
            <a href="https://medium.com/the-fourth-wall" target="_blank">
                <figure>
                    <img src="/assets/images/commerce-card-3.png" 
                        srcset="/assets/images/commerce-card-3.png 1x, /assets/images/commerce-card-3@2x.png 2x, /assets/images/commerce-card-3@3x.png 3x"
                        alt="{{ site.cards.third-card.heading }}">
                    <figcaption>
                        <h3>{{ site.cards.third-card.heading }}</h3>
                        <p>{{ site.cards.third-card.description }}</p>
                    </figcaption>
                </figure>
            </a>
        </div>
    </section>
<footer>
        <div class="footer__content">
                <section class="brand">
                        <img class="logo" src="/assets/images/axonista-logo.png" alt="Axonista Logo"/>
                </section>
                <section class="address">
                    <div>
                        <span>Dublin</span>
                        <p>Exchequer Chambers,<br>
                        19-23 Exchequer St, D02 AC82</p>
                        <p>+353 (0)1 676 6251</p>
                    </div>
                    <div>
                        <span>New York</span>
                        <p>Startlab NYC, 41st Floor<br>
                        140 E 45th Street, NY 10017</p>
                        <p>+1 646 480 7712</p>
                        </div>            
                </section>
                <section class="social">
                    <a href="https://twitter.com/axonista" target="_blank"><i class="icon ion-logo-twitter"></i></a>
                    <a href="https://ie.linkedin.com/company/axonista" target="_blank"><i class="icon ion-logo-linkedin"></i></a>
                    <a href="https://www.instagram.com/axonistahq/" target="_blank"><i class="icon ion-logo-instagram"></i></a>
                    <a href="http://www.youtube.com/axonista" target="_blank"><i class="icon ion-logo-youtube"></i></a>
                    <a href="https://www.facebook.com/axonista/" target="_blank"><i class="icon ion-logo-facebook"></i></a>
                </section>
                <section class="copyright">
                    <p>Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script> Axonista. All Rights Reserved.</p>
                </section>
        </div>
    </footer>

    </div><!-- end animsition div -->
    <script src="/js/libraries/jquery-1.11.3.min.js"></script>
    <script src="/js/libraries/jquery-ui.min.js"></script>
    <script src="/js/libraries/headroom.min.js"></script>
    <script src="/js/libraries/jquery.headroom.min.js"></script>
    <script src="/js/libraries/atvImg.min.js"></script>
    <script src="/js/libraries/animsition.min.js"></script>
    <script src="/js/main.js"></script>
	</body>
</html>
