<nav class="headroom">
        <div id="menu-icon">
                <span></span>
                <span></span>
                <span></span>
        </div>
        <a href="/" class="brand animsition-link">
                <img class="logo" src="/assets/images/axonista-logo.png" />
        </a>
        <div id="alignright">
                <ul id="toggle-menu">
                        <li class="toggle-menu__link">
                                <a class="animsition-link" href="/commerce.html">Commerce</a>
                        </li>
                        <li class="toggle-menu__link">
                                <a class="animsition-link" href="/customers.html">Customers</a>
                        </li>
                        <li class="dropdown-menu">
                                <span class="dropdown-toggle">Blog</span>
                                <ul class="dropdown-items">
                                        <li>
                                                <a href="https://vimeo.com/channels/1311638" target="_blank">Over the Top</a>
                                        </li>
                                        <li>
                                                <a href="http://rerun.axonista.com/" target="_blank">Rerun</a>
                                        </li>
                                        <li>
                                                <a href="https://medium.com/the-fourth-wall" target="_blank">The Fourth Wall</a>
                                        </li>
                                        <li>
                                                <a href="https://medium.com/axonista-hq" target="_blank">Axonista HQ</a>
                                        </li>
                                </ul>
                        </li>
                        <li class="toggle-menu__link">
                                <a href="">Careers</a>
                        </li>
                        <li class="toggle-menu__link navbar__cta">
                                <a href="">DEMO</a>
                        </li>
                </ul>
        </div>
</nav>