<nav class="headroom">
    <a class="brand animsition-link" href="/">
        <img class="logo" src="/assets/images/axonista-logo.png"/>
    </a>
    <div id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="alignright">
        <ul id="toggle-menu">
            <li class="toggle-menu__link">
                <a href="https://ediflo.tv/" target="_blank">Technology</a>
            </li>
            <li class="dropdown-menu">
                <span class="dropdown-toggle">Industries</span>
                <ul class="dropdown-items solutions">
                    <li>
                        <a href="https://media.axonista.com/">Media</a>
                    </li>
                    <li>
                        <a href="https://shopping.axonista.com/">Shopping</a>
                    </li>
                </ul>
            </li>
            <li class="toggle-menu__link">
                <a class="animsition-link {% if page.url == '/customers' %}active{% endif %} {{page.url}}" href="/customers">Customers</a>
            </li>
            <li class="toggle-menu__link">
                <a href="/blog">Blog</a>
            </li>
            <li class="toggle-menu__link">
                <a href="/careers">Careers</a>
            </li>
            <li class="toggle-menu__link">
                <a href="/about">About</a>
            </li>
            <li class="toggle-menu__link navbar__cta">
                <a href="/demo">DEMO</a>
            </li>
        </ul>
    </div>
</nav>
<div id="full-screen-nav">
    <ul>
        <li>
            <a href="https://ediflo.tv/" target="_blank">Technology</a>
        </li>
        <li>
            <ul id="mobile-subnav">
                <span>Industries</span>
                <li>
                    <a href="https://media.axonista.com">Media</a>
                </li>
                <li>
                    <a href="https://shopping.axonista.com">Shopping</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/customers">Customers</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/careers" target="_blank">Careers</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li class="toggle-menu__link">
            <a class="full-screen-nav__cta" href="/demo">DEMO</a>
        </li>
    </ul>
</div>
