{% include header.html %}

<nav class="headroom">
	<div id="menu-icon">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<a href="/" class="brand animsition-link">
		<img class="logo" src="/assets/images/axonista-logo.png" />
	</a>
	<div id="alignright">
		<ul id="toggle-menu">
			<li class="toggle-menu__link">
				<a class="animsition-link" href="">Commerce</a>
			</li>
			<li class="toggle-menu__link">
				<a class="animsition-link" href="/customers.html">Customers</a>
			</li>
			<li class="dropdown-menu">
				<span class="dropdown-toggle">Blog</span>
				<ul class="dropdown-items">
					<li>
						<a href="https://vimeo.com/channels/1311638" target="_blank">Over the Top</a>
					</li>
					<li>
						<a href="http://rerun.axonista.com/" target="_blank">Rerun</a>
					</li>
					<li>
						<a href="https://medium.com/the-fourth-wall" target="_blank">The Fourth Wall</a>
					</li>
					<li>
						<a href="https://medium.com/axonista-hq" target="_blank">Axonista HQ</a>
					</li>
				</ul>
			</li>
			<li class="toggle-menu__link">
				<a href="">Careers</a>
			</li>
			<li class="toggle-menu__link navbar__cta">
				<a href="">DEMO</a>
			</li>
		</ul>
	</div>
</nav>
<div id="full-screen-nav">
	<ul>
		<li>
			<a class="anchor-link" href="#products">Products</a>
		</li>
		<li>
			<a class="animsition-link" href="/customers.html">Customers</a>
		</li>
		<li>
			<a href="https://medium.com/axonista-hq" target="_blank">Blog</a>
		</li>
		<li>
			<a class="anchor-link" href="#contact">Contact</a>
		</li>
	</ul>
</div>
<div class="hero" id="home">
	<div id="hero-content">
		<h1>Video is the new<br>
			<span class="highlight">storefront</span>
		</h1>
		{% if page.commerce-description %}
		<p>{{ page.commerce-description }}</p>
		{% endif %}
	</div>
	<div class="hero-footer">
		<div class="hero-footer__content">
			<i class="icon icon-bell"></i><span>We'll be attending SXSW July 15th, we'd love to see you there.&nbsp;<button class="hero-footer__cta">Get in touch</button></span>
		</div>	
	</div>
	<video autoplay loop muted playsinline poster="/assets/images/placeholder.jpg" id="bgvid">
		<source src="/assets/videos/hero-comp.mp4" type="video/mp4">
	</video>
</div>

<section class="product-section">
	<h1>Earn new revenue through<br>in-video shopping</h1>
	<figure>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 669 457">
			<path fill="#F8F8F8" fill-rule="evenodd" d="M0 121.245L669 0v335.755L0 457z"/>
			</svg>		
		<img src="/assets/images/commerce-product-1.png" srcset="/assets/images/commerce-product-1.png@2x 100vw" alt="">
		<figcaption>
			<h2>Shoppable Video Experiences</h2>
			<p>Give your viewers a convenient way to buy the products they're watching, related merchandise, or your sponsor’s products. Set to display at the most opportune moment during your video, for powerful and effective in the moment shopping.</p>
		</figcaption>	
	</figure>
</section>

<section class="product-section__left-align">
	<figure>
		<figcaption>
			<h2>Sponorship &amp; Advertising</h2>
			<p>Draw long term sponsors to your platform by boasting a captivated audience. Create a brand experience with their products or direct response ads that your audience will love. Start selling meaningful connections, with an engaged audience.</p>
		</figcaption>	
		<img src="/assets/images/commerce-product-2.png" srcset="/assets/images/commerce-product-2.png@2x 2x /assets/images/commerce-product-2.png@3x 3x" alt="">	
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 669 457">
			<path fill="#F8F8F8" fill-rule="evenodd" d="M0 121.245L669 0v335.755L0 457z"/>
			</svg>				
	</figure>		
	<a href="" class="product-section__cta">GET IN TOUCH</a>
</section>

<section class="client-section">
	<h1>Some of the great companies we work with&hellip;</h1>
	<div class="client-section__client-list">
		<img src="/assets/images/logos/greyscale/logo-qvc.png" alt="">
		<img src="/assets/images/logos/greyscale/oath.png" alt="">
		<img src="/assets/images/logos/greyscale/viacom.png" alt="">
		<img src="/assets/images/logos/greyscale/logo-red.png" alt="">
		<img src="/assets/images/logos/greyscale/sinclair.png" alt="">		
	</div>
</section>

<section class="product-section__left-align">
	<h1>Customers</h1>
	<figure>
		<figcaption>
			<h2>Sponorship &amp; Advertising</h2>
			<p>Draw long term sponsors to your platform by boasting a captivated audience. Create a brand experience with their products or direct response ads that your audience will love. Start selling meaningful connections, with an engaged audience.</p>
		</figcaption>	
		<img src="/assets/images/commerce-product-2.png" srcset="/assets/images/commerce-product-2.png@2x 2x /assets/images/commerce-product-2.png@3x 3x" alt="">	
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 669 457">
			<path fill="#F8F8F8" fill-rule="evenodd" d="M0 121.245L669 0v335.755L0 457z"/>
			</svg>				
	</figure>		
	<a href="" class="product-section__cta">OUR CUSTOMERS</a>
</section>


<section class='case-study qvc-tv'>
	<div class="info">
		<h3>Customer Story</h3>
		<div class="atvImg">
			<!--<img class="logo" src="/assets/images/case-studies/qvc/qvc-icon-apple-tv-flat.png"/>-->
			<div class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-back.png"></div>
			<div class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-front.png"></div>
		</div>
		<p>{% if page.qvc-description %}{{ page.qvc-description | markdownify }}{% endif %}</p>
		<blockquote>{% if page.qvc-quote.text %}{{ page.qvc-quote.text }}{% endif %}</blockquote>
		{% if page.qvc-quote.author %}
		<p class="subtext">&mdash; {{ page.qvc-quote.author }}{% endif %}</p>
		<a class='case-button on-light animsition-link' href="/qvc-apple-tv.html">Read more about it</a>
	</div>
	<div class="featured">
		<img src="/assets/images/case-studies/qvc/qvc-apple-tv.jpg" />
	</div>
</section>

<section class='case-study ifiplayer'>
	<div class="background-image"></div>
	<div class="info">
		<div class="atvImg">
			<div class="atvImg-layer" data-img="/assets/images/case-studies/ifi-player/app-icon__background--small.png"></div>
			<div class="atvImg-layer" data-img="/assets/images/case-studies/ifi-player/app-icon__foreground--small.png"></div>
		</div>
		<p>{{ page.ifi-player-description }}</p>
		<a class='case-button on-light animsition-link' href="/ifi-player.html">Read more about it</a>
	</div>
	<div class="featured">
		<img src="/assets/images/case-studies/ifi-player/ifi-android-family.png" />
	</div>
</section>

{% include contact.html %}

<section class="image-banner rerun">
	<form action='https://rerun.curated.co/email_subscribers' id='subscribe-form' method='post'>
		<img src="/assets/images/rerun-logo.png" alt="Rerun logo" />
		<p>{% if page.rerun-description %}{{ page.rerun-description }}{% endif %}</p>
		<input id="subscribe-email" name="email" type="email" placeholder="Your email address"></input>
		<input type="submit" onclick="this.form.submit(); this.disabled=true; this.value='Sending...';" value="Subscribe" class="button"
		    id="submit"></input>
		<p class="small">
			<strong>No spam, ever.</strong> Your email address will only ever be used for Rerun.</p>
	</form>
</section>

{% include footer.html %}