{% include header.html %}

  <nav class="headroom">
      <div id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
        <a href="/" class="brand animsition-link">
            <img class="logo" src="{{ site.url }}/assets/images/axonista-logo.png"/>
        </a>
        <div id="alignright">
            <ul id="toggle-menu">
                <li><a class="anchor-link" href="{{ site.url }}#work">Work</a></li>
                <li><a href="https://medium.com/axonista-hq" target="_blank">Blog</a></li>
                <li><a class="anchor-link" href="{{ site.url }}#contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    {{ content }}

    {% include contact.html %}

    {% include footer.html %}
