{% include header.html %}
{% include navbar-dark.html %}

<section class="contact-section section--top-pad">
	<h1>Demo</h1>
	<h2>Lorem ipsum dolor sit amet</h2>
	<form>
		<label for="name">Full name</label>
		<input autocomplete=off type="text" name="name" required>
		<label for="email">Email address</label>
		<input autocomplete=off type="email" name="email" required>
		<label for="company">Company</label>
		<input autocomplete=off type="text" name="company">	
		<label for="role">Title / Role</label>
		<input autocomplete=off type="text" name="role" required>	
		<label for="industry">Industry (Optional)</label>
		<select name="industry">
			<option value="not specified" selected>Choose&hellip;</option>
			<option value="retail">Retail</option>
			<option value="hotel / travel">Hotel / Travel</option>
			<option value="brand">Brand</option>
			<option value="TV">TV</option>
			<option value="other">Other</option>
		</select>
		<label for="message">Message</label>
		<textarea rows="8"></textarea>
		<button type="submit">Send Message</button>
	</form>
</section>

{% include footer.html %}