{% include header.html %}
{% include navbar.html %}

<div id="full-screen-nav">
	<ul>
						<li><a class="anchor-link" href="#products">Products</a></li>
							<li><a class="animsition-link" href="/customers.html">Customers</a></li>
		<li><a href="https://medium.com/axonista-hq" target="_blank">Blog</a></li>
		<li><a class="anchor-link" href="#contact">Contact</a></li>
	</ul>
</div>
<div class="hero" id="home">
	<div id="hero-content">
		<h1>TV is now <span class="highlight">interactive</span></h1>
		{% if page.axonista-description %}
			<p>{{ page.axonista-description }}</p>
		{% endif %}
	</div>
	<div class="hero-footer">
			<div class="hero-footer__content">
				<i class="icon ion-md-notifications"></i>
				<span>We'll be attending SXSW July 15th, we'd love to see you there.&nbsp;
					<a href="#contact"><button class="hero-footer__cta">Get in touch</button></a>
				</span>
			</div>
	</div>
	<video autoplay loop muted playsinline poster="/assets/images/placeholder.jpg" id="bgvid">
		<source src="/assets/videos/hero-comp.mp4" type="video/mp4">
	</video>
</div>

<section id="products" class="ediflo">
	<h1>Product</h1>
	<img src='assets/images/logos/ediflo.png' />
	{% if page.ediflo-description %}
		<p>{{ page.ediflo-description }}</p>
	{% endif %}
	<a class='button on-light animsition-link' href="http://www.ediflo.tv">Read More</a>

	<div class="features">
		<ul class="rig columns-4">
			<li>
				<h2>{% if page.ediflo-library.heading %}{{ page.ediflo-library.heading }}{% endif %}</h2>
				<h3>{% if page.ediflo-library.subheading %}{{ page.ediflo-library.subheading }}{% endif %}</h3>
				<p>{% if page.ediflo-library.description %}{{ page.ediflo-library.description | markdownify }}{% endif %}</p>
			</li>
			<li>
				<h2>{% if page.ediflo-live.heading %}{{ page.ediflo-live.heading }}{% endif %}</h2>
				<h3>{% if page.ediflo-live.subheading %}{{ page.ediflo-live.subheading }}{% endif %}</h3>
				<p>{% if page.ediflo-live.description %}{{ page.ediflo-live.description | markdownify }}{% endif %}</p>
			</li>
			<li>
				<h2>{% if page.remoco.heading %}{{ page.remoco.heading }}{% endif %}</h2>
				<h3>{% if page.remoco.subheading %}{{ page.remoco.subheading }}{% endif %}</h3>
				<p>{% if page.remoco.description %}{{ page.remoco.description | markdownify }}{% endif %}</p>
			</li>
			<li>
				<h2>{% if page.ediflo-analytics.heading %}{{ page.ediflo-analytics.heading }}{% endif %}</h2>
				<h3>{% if page.ediflo-analytics.subheading %}{{ page.ediflo-analytics.subheading }}{% endif %}</h3>
				<p>{% if page.ediflo-analytics.description %}{{ page.ediflo-analytics.description | markdownify }}{% endif %}</p>
			</li>
		</ul>
	</div>
</section>

<section id="what-we-do" class="logos platforms">
<h1>{% if page.platforms-heading %}{{ page.platforms-heading }}{% endif %}</h1>
<ul>
	<li><img src='/assets/images/logos/platform/ios.png'></li>
	<li><img src='/assets/images/logos/platform/tvos.png'></li>
	<li><img src='/assets/images/logos/platform/android.png'></li>
				<li><img src='/assets/images/logos/platform/amazon-fire-tv.png'></li>
	<li><img src='/assets/images/logos/platform/roku.png'></li>
	<li><img src='/assets/images/logos/platform/xbox.png'></li>
	<li><img src='/assets/images/logos/platform/oculus.png'></li>
</ul>
</section>

<section class="logos clients">
		<h1>{% if page.clients-heading %}{{ page.clients-heading }}{% endif %}</h1>
		<ul>
				<li><img src='/assets/images/logos/client/qvc.png'></li>
				<li><img src='/assets/images/logos/client/aol.png'></li>
				<li><img src='/assets/images/logos/client/mtv.png'></li>
				<li><img src='/assets/images/logos/client/tv3.png'></li>
				<li><img src='/assets/images/logos/client/channel-five.png'></li>
				<li><img src='/assets/images/logos/client/snkr.png'></li>
				<li><img src='/assets/images/logos/client/100uu.png'></li>
				<li><img src='/assets/images/logos/client/the-qyou.png'></li>
				<li><img src='/assets/images/logos/client/eir-sport.png'></li>
				<li><img src='/assets/images/logos/client/ifi.png'></li>
		</ul>
</section>

	<section id="customers" class="services">
			<h1>Customers</h1>
			<p>{% if page.services-description %}{{ page.services-description }}{% endif %}</p>
			<a class='case-button on-light animsition-link' href="/customers.html">Our Customers</a>
	</section>

	<section class='case-study qvc-tv'>
<div class="info">
			<h3>Customer Story</h3>
			<div class="atvImg">
				<!--<img class="logo" src="/assets/images/case-studies/qvc/qvc-icon-apple-tv-flat.png"/>-->
				<div class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-back.png"></div>
				<div class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-front.png"></div>
			</div>
			<p>{% if page.qvc-description %}{{ page.qvc-description | markdownify }}{% endif %}</p>
			<blockquote>{% if page.qvc-quote.text %}{{ page.qvc-quote.text }}{% endif %}</blockquote>
			{% if page.qvc-quote.author %}<p class="subtext">&mdash; {{ page.qvc-quote.author }}{% endif %}</p>
			<a class='case-button on-light animsition-link' href="/qvc-apple-tv.html">Read more about it</a>
		</div>
		<div class="featured">
			<img src="/assets/images/case-studies/qvc/qvc-apple-tv.jpg"/>
		</div>
</section>

	<section class='case-study ifiplayer'>
		<div class="background-image"></div>
		<div class="info">
		<div class="atvImg">
			<div class="atvImg-layer" data-img="/assets/images/case-studies/ifi-player/app-icon__background--small.png"></div>
			<div class="atvImg-layer" data-img="/assets/images/case-studies/ifi-player/app-icon__foreground--small.png"></div>
		</div>
		<p>{{ page.ifi-player-description }}</p>
		<a class='case-button on-light animsition-link' href="/ifi-player.html">Read more about it</a>
		</div>
		<div class="featured">
		<img src="/assets/images/case-studies/ifi-player/ifi-android-family.png" />
		</div>
	</section>

<section class="cards-section">
	<h1>Thinking About Video</h1>
	<h2>We love this industry and we're curious and fascinated about how it unfolds</h2>
	<div class="card-row">
		<a href="">
			<figure>
				<img src="/assets/images/commerce-card-1.png" alt="">
				<figcaption>
					<h3>Over the Top</h3>
					<p>Global industry thought leaders from Conde Nast, Nasdaq, and Machinima share their thoughts on the future of brand engagement
						with our hosts Jocelyn and Dermot.</p>
				</figcaption>
			</figure>
		</a>
		<a href="">
			<figure>
				<img src="/assets/images/commerce-card-2.png" alt="">
				<figcaption>
					<h3>Rerun</h3>
					<p>Global industry thought leaders from Conde Nast, Nasdaq, and Machinima share their thoughts on the future of brand engagement
						with our hosts Jocelyn and Dermot.</p>
				</figcaption>
			</figure>
		</a>
		<a href="">
			<figure>
				<img src="/assets/images/commerce-card-3.png" alt="">
				<figcaption>
					<h3>The Fourth Wall</h3>
					<p>Our team of designers thinks out loud, blogging about our industry and the world of interactive digital media. Read
						their latest articles and join in the conversation.</p>
				</figcaption>
			</figure>
		</a>
	</div>
</section>
{% include footer.html %}