{% include header.html %}

<nav class="headroom">
  <div id="menu-icon">
    <span></span>
    <span></span>
    <span></span>
  </div>
    <a href="/" class="brand animsition-link">
        <img class="logo" src="/assets/images/axonista-logo.png"/>
    </a>
    <div id="alignright">
        <ul id="toggle-menu">
          <li><a href="{{ site.url }}/#products">Products</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="https://medium.com/axonista-hq" target="_blank">Blog</a></li>
            <li><a class="anchor-link" href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
<div id="full-screen-nav">
          <ul>
            <li><a href="{{ site.url }}/#products">Products</a></li>
              <li><a href="/services">Services</a></li>
              <li><a href="https://medium.com/axonista-hq" target="_blank">Blog</a></li>
              <li><a class="anchor-link" href="#contact">Contact</a></li>
          </ul>
      </div>
			<header class="case-study qvc-apple-tv">
				<div id="main-content">
					<div class="atvImg">
						<!--<img class="logo" src="/assets/images/case-studies/qvc/qvc-icon-apple-tv-flat.png"/>-->
						<div class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-back.png" alt="QVC for Apple TV"></div>
						<div class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-front.png" alt="QVC for Apple TV"></div>
					</div>
					<p>"{{ page.main-quote.text }}"</p>
					<p class="subtext">&mdash; {{ page.main-quote.author }}</p>
				</div>
			</header>

			<section class="objectives">
                <img class="featured" src="/assets/images/case-studies/qvc/qvc-apple-tv.jpg" alt="The QVC app on Apple TV"/>
            </section>

			<section class="image-banner clear">
				<a href="http://www.theverge.com/2015/10/28/9630952/new-apple-tv-4-review"><img class="logo" src="/assets/images/logos/press/the-verge.png" alt="The Verge logo"/></a>
                <h1>"The single most interesting app in the Apple TV App Store right now"</h1>
                <p class="subtext">&mdash; Nilay Patel</p>
            </section>

			<section class="image-banner clear">
				<a href="http://www.engadget.com/2015/11/06/apple-tv-review-2015/"><img class="logo" src="/assets/images/logos/press/engadget.png" alt="The Engadget logo"/></a>
                <h1>"The new QVC app is one of the best examples of what developers can do with tvOS."</h1>
                <p class="subtext">&mdash; Davindra Hardawar</p>
            </section>

			<section class="image-banner clear">
				<a href="http://www.techinsider.io/apple-tv-review-2015-11"><img class="logo" src="/assets/images/logos/press/tech-insider.png" alt="The Tech Insider logo"/></a>
                <h1>"I think the best app on Apple TV right now is the QVC app &hellip; because the app is the clearest look at the future of interactive TV."</h1>
                <p class="subtext">&mdash; Steve Kovach</p>
            </section>

			<section class="image-banner clear">
				<a href="http://mashable.com/2015/12/07/new-apps-show-off-apple-tvs-bigger-potential/#pzUSTmQJ5qq0"><img class="logo" src="/assets/images/logos/press/mashable.png" alt="Mashable UK logo"/></a>
                <h1>"QVC's Apple TV app was available at launch and it remains one of the more impressive from a technical standpoint."</h1>
                <p class="subtext">&mdash; Christina Warren</p>
            </section>

			<section class="image-banner clear">
                <h2>Also mentioned in</h2>
                <img class="logos" src="/assets/images/logos/press/mentions.png" alt="Various news publisher logos"/>
            </section>

			<section class="objectives">
                <img class="featured" src="/assets/images/case-studies/qvc/qvc-apple-tv-product.jpg" alt="The QVC app on Apple TV"/>
            </section>

            {% include contact.html %}

            {% include footer.html %}
