{% include header.html %}
{% include navbar.html %}

<div id="full-screen-nav">
    <ul>
        <li><a class="animsition-link"href="{{ site.url }}/#products">Products</a></li>
        <li><a class="animsition-link" href="/customers">Customers</a></li>
        <li><a class="animsition-link" href="https://medium.com/axonista-hq" target="_blank">Blog</a></li>
        <li><a class="anchor-link" href="#contact">Contact</a></li>
    </ul>
</div>
<header class="case-study qvc-apple-tv">
    <div id="main-content">
        <div class="atvImg">
            <!--<img class="logo" src="/assets/images/case-studies/qvc/qvc-icon-apple-tv-flat.png"/>-->
            <div alt="QVC for Apple TV" class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-back.png"></div>
            <div alt="QVC for Apple TV" class="atvImg-layer" data-img="/assets/images/case-studies/qvc/qvc-icon-apple-tv-front.png"></div>
        </div>
        <p>"{{ page.main-quote.text }}"</p>
        <p class="subtext">&mdash;
            {{ page.main-quote.author }}</p>
    </div>
</header>

<section class="objectives">
    <img alt="The QVC app on Apple TV" class="featured" src="/assets/images/case-studies/qvc/qvc-apple-tv.jpg"/>
</section>

<section class="image-banner clear">
    <a href="http://www.theverge.com/2015/10/28/9630952/new-apple-tv-4-review"><img alt="The Verge logo" class="logo" src="/assets/images/logos/press/the-verge.png"/></a>
    <blockquote>"The single most interesting app in the Apple TV App Store right now"</blockquote>
    <p class="subtext">&mdash; Nilay Patel</p>
</section>

<section class="image-banner clear">
    <a href="http://www.engadget.com/2015/11/06/apple-tv-review-2015/"><img alt="The Engadget logo" class="logo" src="/assets/images/logos/press/engadget.png"/></a>
    <blockquote>"The new QVC app is one of the best examples of what developers can do with tvOS."</blockquote>
    <p class="subtext">&mdash; Davindra Hardawar</p>
</section>

<section class="image-banner clear">
    <a href="http://www.techinsider.io/apple-tv-review-2015-11"><img alt="The Tech Insider logo" class="logo" src="/assets/images/logos/press/tech-insider.png"/></a>
    <blockquote>"I think the best app on Apple TV right now is the QVC app &hellip; because the app is the clearest look at the future of interactive TV."</blockquote>
    <p class="subtext">&mdash; Steve Kovach</p>
</section>

<section class="image-banner clear">
    <a href="http://mashable.com/2015/12/07/new-apps-show-off-apple-tvs-bigger-potential/#pzUSTmQJ5qq0"><img alt="Mashable UK logo" class="logo" src="/assets/images/logos/press/mashable.png"/></a>
    <blockquote>"QVC's Apple TV app was available at launch and it remains one of the more impressive from a technical standpoint."</blockquote>
    <p class="subtext">&mdash; Christina Warren</p>
</section>

<section class="image-banner clear">
    <h2>Also mentioned in</h2>
    <img alt="Various news publisher logos" class="logos" src="/assets/images/logos/press/mentions.png"/>
</section>

<section class="objectives">
    <img alt="The QVC app on Apple TV" class="featured" src="/assets/images/case-studies/qvc/qvc-apple-tv-product.jpg"/>
</section>

{% include blog-cards.html %}
{% include footer.html %}
