{% include header.html %}
{% include navbar.html %}

<section class="thanks-section">
	<h1>Thank you!</h1>
	<h2>We'll be back in touch as soon as possible.</h2>
</section>

<section class="cards-section">
	<h1>Thinking About Video</h1>
	<h2>We love this industry and we're curious and fascinated about how it unfolds</h2>
	<div class="card-row">
		<a href="">
			<figure>
				<img 	src="/assets/images/commerce-card-1.png" 
					srcset="/assets/images/commerce-card-1.png 1x, /assets/images/commerce-card-1@2x.png 2x, /assets/images/commerce-card-1@3x.png 3x"
					alt="">
				<figcaption>
					<h3>Over the Top</h3>
					<p>Global industry thought leaders from Conde Nast, Nasdaq, and Machinima share their thoughts on the future of brand engagement
						with our hosts Jocelyn and Dermot.</p>
				</figcaption>
			</figure>
		</a>
		<a href="">
			<figure>
				<img 	src="/assets/images/commerce-card-2.png" 
					srcset="/assets/images/commerce-card-2.png 1x, /assets/images/commerce-card-2@2x.png 2x, /assets/images/commerce-card-2@3x.png 3x"
					alt="">
				<figcaption>
					<h3>Rerun</h3>
					<p>Global industry thought leaders from Conde Nast, Nasdaq, and Machinima share their thoughts on the future of brand engagement
						with our hosts Jocelyn and Dermot.</p>
				</figcaption>
			</figure>
		</a>
		<a href="">
			<figure>
				<img 	src="/assets/images/commerce-card-3.png" 
					srcset="/assets/images/commerce-card-3.png 1x, /assets/images/commerce-card-3@2x.png 2x, /assets/images/commerce-card-3@3x.png 3x"
					alt="">
				<figcaption>
					<h3>The Fourth Wall</h3>
					<p>Our team of designers thinks out loud, blogging about our industry and the world of interactive digital media. Read
						their latest articles and join in the conversation.</p>
				</figcaption>
			</figure>
		</a>
	</div>
</section>

{% include footer.html %}